node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
build/
ios
!modules/fizl-live-activity-sample/ios
android
app-example
*.env
# macOS
.DS_Store
*.swp
!modules/live-activity-control/ios
!modules/live-activity-control/android